.main{
    margin:0px 0px;
    background-size:100%;
    background-color: cornflowerblue;
}
.regB{
    margin:200px 500px;
    width:300px;
    height:260px;
    border:1px solid #ffffff;
    border-radius:10px;
    background-color:transparent;
}
.login{
    margin:200px 500px;
    width:300px;
    height:220px;
    border:1px solid #ffffff;
    border-radius:10px;
    background-color:transparent;
}
.name{
    text-align:center;
    margin:15px 50px;
    width:200px;
    height:30px;
    border:1px solid #000;
    background-position:7px 7px;
    outline:none;
    border-radius:10px;
}
.email{
    text-align:center;
    margin:-10px 50px;
    width:200px;
    height:30px;
    border:1px solid #000;
    background-position:7px 7px;
    outline:none;
    border-radius:10px;
        }
.login{
    margin:200px 500px;
    width:300px;
    height:220px;
    border:1px solid #ffffff;
    border-radius:10px;
    background-color:transparent;
}
.password_log{
    text-align:center;
    margin:-10px 50px;
    width:200px;
    height:30px;
    border:1px solid #000;
    outline:none;
    border-radius:10px;
}
.password{
    text-align:center;
    margin:25px 50px;
    width:200px;
    height:30px;
    border:1px solid #000;
    outline:none;
    border-radius:10px;
}
.enter{
    margin:-20px 110px;
    text-align:center;
    width:80px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent
}
.enter_log{
    margin:17px 110px 10px;
    text-align:center;
    width:80px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent
}
.head{
    margin:0px;
    text-align:center;
    color:#ffffff
}
.head1{
    margin:5px;
    text-align:center;
}
.message{
    margin:5px;
    text-align:center;
}
.loginPage{
    margin: -170px 1000px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.exit{
    margin: -170px 1140px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.reg{
    margin:0px 94px;
    text-align:center;
    width:115px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent
}
/*.enter:active{*/
/*    margin:16px 110px;*/
/*}*/
.reg:active{
    margin:-12px 94px;
}



.image-box{
    border-radius: 15px;
    margin: 10px 10px;
    height: 200px;
    width: 200px;
}
.image{
    margin: 10px 10px;
    border-radius: 15px;
    border: 1px solid black;
}
.image_button{
    margin: 0px 80px;
}
.prof{
    margin: 100px 150px;
    height: 300px;
    width: 600px;
    border-radius: 10px ;
    background-color:white;
}

.back{
    margin: 200px;
}
.prof_head{
    margin: -200px 380px;
}

.buttons_div{
    margin: 0px 60px;
    width:770px;
    height:210px;
    /*border:1px solid #ffffff;*/
}
.b{
    margin: -170px 1140px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b_login{
    margin: -170px 100px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b_chat{
    margin: -170px 580px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b1{
    text-align:center;
    position: absolute;;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b2{
    margin: 0px 260px;
    position: absolute;
    text-align:center;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b3{
    margin: 0px 520px;
    position: absolute;
    text-align:center;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b4{
    margin: 110px 0px;
    position: absolute;
    text-align:center;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b5{
    margin: 110px 260px;
    position: absolute;
    text-align:center;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.b6{
    margin: 110px 520px;
    position: absolute;
    text-align:center;
    width:250px;
    height:100px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}

.newsmain{
    margin: 20px 150px;
    /*height: 200px;*/
    /*width: 600px;*/
    border-radius: 10px ;
    background-color:#99b1c6;
}
.newstext{
    text-align: center;
}
.newsdate{
    margin: 0px 10px;
}

.aircompany{
    text-align: center;
}
.airdep{
    margin: 10px 100px;
}
.airarr{
    margin: -40px 450px 0px;
}

.table{
    width: 90%;
}

.mainPage1 {
    margin: 30px 1100px;
    position: absolute;
    text-align: center;
    width: 120px;
    height: 25px;
    border: 1px solid #ffffff;
    outline: none;
    color: #ffffff;
    border-radius: 10px;
    background-color: transparent;
}


.mainPage{
    margin:-140px 1100px;
    position: absolute;
    text-align:center;
    width:120px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent;
}
.e0{
    margin: 170px 450px;
    height: 400px;
    width: 400px;
    border: 1px solid black;
}
.e1{
    margin: 15px 100px 10px;
    text-align: center;
    width:200px;
    height:30px;
    border:1px solid #000;
    background-position:7px 7px;
    outline:none;
    border-radius:10px;
}
.e2{
    margin: 10px 100px;
    text-align: center;
    width:200px;
    height:30px;
    border:1px solid #000;
    background-position:7px 7px;
    outline:none;
    border-radius:10px;
}
.sub{
    margin: 30px 160px;
    text-align:center;
    width:80px;
    height:25px;
    border:1px solid #ffffff;
    outline:none;
    color:#ffffff;
    border-radius:10px;
    background-color:transparent
}

.example-1 .form-group{padding:1em;margin:1em}
.example-1 input[type=file]{outline:0;opacity:0;pointer-events:none;user-select:none}
.example-1 .label{width:120px;border:2px dashed grey;border-radius:5px;display:block;padding:1.2em;transition:border 300ms ease;cursor:pointer;text-align:center}
.example-1 .label i{display:block;font-size:42px;padding-bottom:16px}
.example-1 .label i,.example-1 .label .title{color:grey;transition:200ms color}
.example-1 .label:hover{border:2px solid #000}
.example-1 .label:hover i,.example-1 .label:hover .title{color:#000}